body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h2 {
    text-align: center;
    color: #444;
}

h4 {
    margin-left: 10%;
    color: #555;
}

select, button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.container {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5em;
}

.elemento {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    height: auto;
}

img {
    height: 80%;
    width: 100%;
    object-fit: fill;
    margin-bottom: 0em;
}

.elemento button {
    width: 90%;
    margin: 10px auto 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.elemento button:hover {
    background-color: #0056b3;
}
